$h1Color: #1f1f1f;
$componentBackground: #f8f8f8;
$disabledColor: #d8d8d8;
$fieldDescription: #9b9b9b;
$fieldHeading: #777777;
$fontColor: #4a4a4a;
$secondaryColor: #45acef;
$brandColor: #253042;
$error: #d0021b;
$fieldOutline: #00bfff;
$lightColor: #ffffff;

$whiteFontColor: #E8E8E8;


//Mobile
$mobileMax: 767px;